<!doctype html>
<html>
<head>
  <meta lang="en" http-equiv="content-type" content ="text/html" charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

  <link rel="icon" href="/resources/EMS/static/favicon.png" type="image/x-icon"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  
  <title>Employee Management System</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>